@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
    <!-- Profile: Hidden on sm -->
    <li class="nav-item mt-lg-8 d-none d-lg-block">
        <a class="nav-link position-relative p-0 py-2" is-active-route asp-action="Index" asp-controller="Manage" title="User" role="tab">
            <div class="avatar avatar-sm avatar-online mx-auto">
                @if (!String.IsNullOrWhiteSpace(user.ImageUrl))
                {
                    var avatar = $"/api/Images/{user.ImageUrl}";

                    <img class="avatar-img" src="@avatar" alt=" @user.Name avatar" />
                }
                else
                {
                    <img class="avatar-img" src="~/images/avatars/11.jpg" alt="default avatar" />
                }
            </div>
        </a>
    </li>

}

